<ion-content padding class="transparent-header">
    <ion-header>
      <ion-navbar>
      </ion-navbar>
    </ion-header>
    <!-- <img class="logo" src="assets/imgs/avatar/dog.png" /> -->
    <div style="text-align: center; margin-top: 10%;">
      <h4 class="logo" style="color:#ffffff; font-size:30px; width:100%;"> Registre-se </h4>
    </div>
    <div padding>
      <form #f="ngForm" (ngSubmit)="registro(f.value)" novalidate>
        <ion-item style="margin-bottom: unset!important">
          <ion-label floating>Nome Completo <span class="required-star">*</span></ion-label>
          <ion-input type="text" 
                    name="name"
                    ngModel
                    required
                    ></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: unset!important">
          <ion-label floating>E-mail <span class="required-star">*</span></ion-label>
          <ion-input type="email" 
                    name="email"
                    ngModel
                    required
                    [email]="true"
                    ></ion-input>
        </ion-item>
        
        <ion-item style="margin-bottom: unset!important">
          <ion-label floating>Senha <span class="required-star">*</span></ion-label>
          <ion-input type="{{ type1 }}" 
                    name="password"
                    ngModel
                    required
                    ></ion-input>
            <button ion-button clear color="dark" class="password-class" type="button" item-right (click)="showPassword(1)">
              <ion-icon *ngIf="type1 === 'password'" style="font-size: 1.2em;" name="eye-off"></ion-icon>
              <ion-icon *ngIf="type1 === 'text'" style="font-size: 1.2em;" name="eye"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
          <ion-label floating>Repetir Senha <span class="required-star">*</span></ion-label>
          <ion-input type="{{ type2 }}" 
                    name="password_confirmation"
                    ngModel
                    required
                    ></ion-input>
            <button ion-button clear color="dark" class="password-class" type="button" item-right (click)="showPassword(2)">
              <ion-icon *ngIf="type2 === 'password'" style="font-size: 1.2em;" name="eye-off"></ion-icon>
              <ion-icon *ngIf="type2 === 'text'" style="font-size: 1.2em;" name="eye"></ion-icon>
            </button>
        </ion-item>
        
        <button type="submit" [disabled]="!f.form.valid" ion-button block outline color="light" class="login-button">Registrar</button>
      </form>
    </div>
    <!-- <div class="strike">
      <span>Ou</span>
    </div>
    <button ion-button block clear (click)="facebookLogin()" color="light" class="login-button"><ion-icon name="logo-facebook"></ion-icon> Login com Facebook</button> -->
  </ion-content>
  <ion-footer>
    <ion-toolbar class="footer">
      <div>
        <span>Já possui conta? <strong navPop>Realizar Login</strong>.</span>
      </div>
    </ion-toolbar>
  </ion-footer>